section.vid-carousel {
    padding-bottom: 0;
}

section.vid-carousel .title {
    max-width: 596px;
    margin-left: auto;
    margin-right: auto;
}

section.vid-carousel .header {
    max-width: 887px;
    margin-left: auto;
    margin-right: auto;
}

section.vid-carousel h1 {
    margin-bottom: 60px;
}

section.vid-carousel #carousel_one {
    margin: 30px auto;
}
 

section.banner {
    max-height: 500px;
    height: 100%;
}

section.banner .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.banner .row {
    max-height: 488px;
    height: 100%;
}

section.banner .col-xl-6.col-lg-6.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.banner .banner_header h2 {
    font-size: 36px;
    max-width: 991px;
    max-height: 500px;
    width: 100%;
    text-align: right;
}

section.banner .right_image img {
    max-height: 250px;
    height: 100%;
}

section.grid-test .contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.grid-test .contents  img {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

section.cta-banner {
    background: #50b0d2;
}

section.with-cards .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}