section.vid-carousel h1 {
    margin-bottom: 60px;
}

section.vid-carousel #carousel_one {
    margin: 30px auto;
}

section.banner {
    padding-top: 0;
}

section.banner .banner-content h1 {
    position: relative;
    font-size: 80px;
    max-width: 747px;
    width: 100%;
}

section.banner img {
    max-width: 747px;
    width: 100%;
    position: absolute;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

