section.vid-carousel {
    /* background-color: #d3d3d3; */
}

section.vid-carousel h1 {
    margin-bottom: 60px;
}

section.vid-carousel #carousel_one {
    margin: 30px auto;
}

section.banner .image-content {
    position: relative;
    overflow: hidden;
}

section.banner img {
    max-width: 971px;
    width: 100%;
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
}

